.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 70px;
  /*margin-top: -0.8em;*/
}
  /*.header div:nth-child(1) {
    margin-right: 1em;
  }*/
  /*.header div:nth-child(1),
  .header div:nth-child(2) {
    height: 72px;
    margin-right: 1em;
    margin-top: -0.5em;
  }*/

.InputPlusBox {
  height: 72px;
  margin-right: 1em;
  margin-top: 0em;
}

.box {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  top: 0em;
  /*height: 5.4em;*/
}
  /*.Input div:nth-child(1) {
    margin-right: 1em;
    margin-top: 1em;
    height: 72px;
  }*/

  /*.box div {
    margin-right: 1em;
    padding-bottom: 0em;
    height: 72px;
  }*/

.plusBtn {
  position: relative;
  display: flex;

  width: 1px;
  height: 56px;

  justify-content: flex-end;

  margin-top: -4.1em;
  margin-left: calc(100% + 1.1em);
  margin-bottom: 1em;
  padding-bottom: 0.6em;

  z-index: 100;
}
.removeBtn {
  position: relative;
  display: flex;

  width: 1px;
  height: 40px;

  justify-content: flex-end;

  margin-top: -7.8em;
  margin-left: calc(100% + 0.6em);
  margin-bottom: 1em;
  padding-bottom: 4.3em;

  z-index: 99;
}

.Input {
  margin-top: -0em;
}

@media screen and (max-width: 930px) {
  .header {
    height: auto;
  }

  /*.box {
    height: auto;
  }*/

  .InputPlusBox {
    height: 72px;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  .addBtn {
    margin-top: -3.5em;
    margin-left: calc(100% + 0.5em);
    margin-bottom: -1em;
    padding-bottom: 0.5em;
  }
}
